In [1]:
#Q1 Explain key features of python that make it popular choice of programming
# Ans. Key features of python that make it popular choice of programming:-
# 1. Python is free to use and distribiute and is supported by community.
# 2. Python interpreter is avaiable for every major platform.
# 3. Python programs run unchanged on most platforms.
# 4. Python runs on every major platforms currently in use.
# 5. Vast collection of third party libraies.

In [2]:
#Q2 Describe the role of predefined keyword and provide example of how they are used in python.
# Ans. Here the some example of predefined keywords:-
# False      await      else       import     pass
# None       break      except     in         raise
# True       class      finally    is         return
# and        continue   for        lambda     try
# as         def        from       nonlocal   while
# assert     del        global     not        with
# async      elif       if         or         yield

In [3]:
#Q3 Compare and contrast of mutable and immutable objects in python with example.
# Ans. Mutable:- Mutable objects are those objects whose values can be change.
# Example:- list, set, dictionary.
lists= [1, 2, 3 , 4, 5]
lists[1]= 15
lists[4]= 31
lists

[1, 15, 3, 4, 31]

In [4]:
s={1, 2, 3, 4}
s.add(5)
s

{1, 2, 3, 4, 5}

In [5]:
#immutable:- immutable objects are those objects whose value can not be changed
# Example:- tupple, string

In [6]:
# Discuss the types of different operators in python and provide examples of how they are used.
# Ans. 1.Arithmatic Operators:- 
# Example:- +, -, *, /, %, **.
a=6
b=8
a+b

14

In [7]:
# 2. Comparison Operators:-
# Example:- <, >, >=, <=, ==, !=.
a=8
b=15
a>b

False

In [8]:
# 3. Logical Operators:-
# Example:-
# Logical and
# Logical or
# Logical not
a=15
b=20
(a>10)and(b<30)

True

In [9]:
a=50
b=60
(a>100)or(b<10)

False

In [10]:
# 4. Bitwise Operators:-
#Example:-
# Bitwise AND(&)
# Bitwise OR(|)
# Bitwise XOR(^)
# Bitwise left shift(<<)
# Bitwise right shift(>>)
a=12
b=5
a&b

4

In [11]:
a|b

13

In [12]:
a^b

9

In [13]:
a<<2

48

In [14]:
a>>2

3

In [15]:
#Q5 Explain typecasting in python with example.
# Ans. Type casting is the method to convert the python variable datatype into a certain data type.
st= "66"
result=int(st)
result
type(result)

int

In [16]:
i= 56
result= float(i)
result
type(result)

float

In [17]:
fl= 56.6
result= int(fl)
result
type(result)

int

In [18]:
tup= (1, 2, 3, 5)
result= list(tup)
result
type(result)

list

In [19]:
li=[1,2,3,4,5]
result= tuple(li)
result
type(result)

tuple

In [20]:
#Q6 How conditional statement work in python? illustrate with example.
# Ans. If the condition is true, the if block code is executed and if the condition is false, the else block code is executed.
# Types of conditional statement:-
# 1. if statement
# 2. if-else startElement
# 3. if-elif else startElement
# 4. nested if-else statement

#Example of if statement
age = 25
if age>=18:
    print("You are eligible for voting")

You are eligible for voting

In [21]:
#Example of if-else statement
age=17
if age>=18:
    print("You are eligible for vote")
else:
    print("You are not eligible for vote")

You are not eligible for vote

In [22]:
#Example of if-elif else statement
grade= 5.5
if grade>=7.0 and grade<=10.0:
    print("First Division")
elif grade>=5.0 and grade<=7.0:
    print("Second Division")
else:
    print("Third Division")

Second Division

In [23]:
#nested if-else statement
num = 5

if num > 0:
    print("The number is positive.")
else:
    if num < 0:
        print("The number is negative.")
    else:
        print("The number is zero.")

The number is positive.

In [24]:
#Q7 Describe the different types of loops in Python and thei$ use cases with examples?
#Loop Statement:- LOOP statements execute a sequence of statements multiple times.
# Types of loop statement:-
# 1. For loop statement :   this loop iterate over a sequence of elements
# 2. While loop statement: this loop allows to repeadaly execute a block of code untill a condition is met
for i in range(1,5):
     print("John Doe")

John Doe
John Doe
John Doe
John Doe

In [25]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [26]:
#Break and Continue Statement:- Break statement stops the entire process of the loop and Continue statement only stops the current iteration of the loop.
# Example of break statement:-
for item in range(1,10,1):
    if item%2==0:
        break
    print(item)

1

In [27]:
# Example of continue statement:-
for item in range(1,10,1):
    if item%2==0:
        continue
    print(item)

1
3
5
7
9